hr { 
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE ;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.margin_bottom_li{
	font-size: 14.5px;
    list-style: none outside none;
    margin-bottom: 15px;
}

.clear{
	clear: both;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
a{
	text-decoration: none;
	color: #B0006E;
}
.textPacingRow{
	margin-bottom: 3px;
}
#errorMessage{
	margin-bottom: 10px;
	color: red;
	font-size: 14px;
}
.contain{
	position: relative;
	min-height: 100%; 
	min-width:100%;
	margin:auto;
	width: 1220px;
	box-shadow: 0px 0px 5px 1px #888888;
	color: #373737;
	font-family: Arial;
}
	
.banner{	
	 background-color: #eeeeee;
	 height: 110px;
	 width: 100%;
}

.baner_button{
	width:115px;
	height: 35px;
	background-color: #B0006E;
    border: 2px solid #B0006E;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    font-size:14px;
    padding: 0px 10px;
    margin-left: 36px;
    margin-top: 30px;
    float: left;
}

.baner_button:hover{
	background-color: #8d0058;
    border: 2px solid #8d0058;
}

.link{
	text-decoration: none;
}

.content_banner{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	margin-top: 20px;
	margin-left: 10px;
	width: 70px;
	height: 70px;	
}

.text_baner{
	margin-right: 36px;
	float: left;
	margin-top: 40px;
}

.imageLogo{
	margin-right: 36px;
	float: left;
}

.search{
	float: left;
	margin-top: 12px;
	margin-right:28px;
	padding-top: 10px;
	padding-left: 5px;
}

.imageSearch{
	width: 20px;
	height: 25px;
	padding-right: 5px;
	float: left;
}

.btn_dang_nhap{
	border-radius:5px;
	margin-top:40px ; 
	margin-left: 10px;
	height: 28px;
	width: 90px;
}

.content{
	width: 100%;
}

.content1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 960px;
    min-height: 400px;
}

.layout_content1{
	background-image:url(../images/imageHomepage/bg_1.png);
	width: 100%;
	overflow: hidden;
}

.content1_left{
	width: 480px;	
	margin-left: 5px;
	float: left;
}

.text_title{
	font-weight: bold;
	font-size: 36px;	
	margin-bottom: 10px;
	color: #b0006E;
}

.textfield{
	padding-left: 10px;
}
.textfield:hover{
	border-width:1px;
	border-radius: 4px;
	border-color:  #b0006e;
}

.text_detail{
	font-size: 32px;
	color: #575757;
	margin-top: 15px;
}

.text_chuyen_tien{
	font-weight:bold;
	font-style: normal;
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 10px;
}

.form_chuyen_tien{
	margin-top: 30px;
	margin-bottom: 160px;	
}

.btn_chuyen_tien{
	height: 35px;
	background-color: #B0006E;
    border: 2px solid #B0006E;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    font-size:14px;
    padding: 0px 20px;
    margin-right: 28px;
    float: left;
}

.btn_chuyen_tien:hover{
	background-color: #8d0058;
    border: 2px solid #8d0058;
}

.txt_sdt_nguoi_nhan{
	float: left;
    height: 35px;
    margin-right: 10px;
    width: 185px;
}
.txt_so_tien{
	float: left;	
	height: 35px;
    margin-right: 10px;
    width: 100px;
}

.content1_right{
	float: right;
	margin-top: 85px;
}

.content1_right_img1{
	float: left;
	width: 50%;	
}

.hd_logo_arrow{
	float: right;
	width:10px;
    margin-right: 30px;
    text-align: right;
    background-image: url(/images/imageHomepage/arrow.png);
    background-repeat:no-repeat;
}

.hd_logo_arrow_up{
	float: right;
    margin-right: 30px;
    text-align: right;
    background-image: url(/images/imageHomepage/arrow_up.png);
    background-repeat:no-repeat;
    width:20px;
}

.logo_conbine_vcb{
	margin-right: 30px;
	margin-left: 30px;
}

.imageDt1{
	width: 200px;
	margin-right: 40px;
}

.imageAppStore{	
	height: 45px;

}

.imageDt2{	
	width: 200px;
	margin-right: 5px;
}

.imageGooglePlay{
	height: 45px;
    margin-bottom: 70px;
   
}

.layout_content2{
	width: 100%;
}

.content2{
	margin-top: 80px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.content2_text_title{
	color: #B0006E;
	margin-bottom:30px;
	text-align: center;
	font-family: Arial;
	font-size: 36px;
	font-weight: bold;	
	margin-left: 120px;
}

.content2_text_detail{
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 16px;
	font-family: Arial;	
}

.content2_image{
	float:left;
	margin-left: 5px;
	margin-right: 50px;
	width: 230px;
}

.content2_content{
	margin-left: 5px;
	float: right;
	width: 670px;
}

.content2_small_content{
	margin-bottom: 30px; 
}

.content2_small_content_checkimg{
	float: left;
	width: 40px;
}

.content2_small_content_text{
	float: right;
}
.content2_small_content_text_more{
	margin-left: 40px;
	padding-top: 3px;
}

.content2_small_content_end{
	margin-bottom: 80px;
}

.giaoDich{
	margin-right: 90px;
	float: left;
}

.imageGiaoDich{
	width: 230px;
}

.text_title_giao_dich{
	text-align:center; 
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	margin-top: 25px;
	margin-bottom: 23px;	
}

.text_detail_giao_dich{
	margin-bottom: 40px;
	font-family: Arial;
	font-size: 16px;
	text-align:center; 
}

.content2_btn{
	padding:10px 40px; 
	background:none repeat scroll 0 0 #888888;
	color: white;
	height: :40px;
	border-radius:25px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial;
	width: 390px;
}

.layout_content3{
		background-color: #f2f2f2;
		width: 100%;
}

.content3{
	height: 500px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.content3_title{
	padding-top: 80px;
	font-family: Arial;
	font-size: 36px;
	font-weight: bold;	
	text-align: center;
}

.content3_contain{
	 margin: 80px 75px 40px;
}

.image1{
	float: left;
	margin-right: 56px;
}

.text_CTDiDong{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;	
	text-align: center;
}

.imageCTDiDong{
	width: 153px;	
	margin-bottom: 25px;	
}

.imageThanhToanDV{
	 margin-bottom: 25px;
	 width: 153px;	
}

.active{
	background-color: #B0006E;
	color: white;
	margin-top: 30px;
    padding: 10px;
}


.text_active{
	color: white;
}

.gioi_thieu{
	margin-left: 80px;
}
.gt_block{
	margin-left:5px;
	margin-right:40px;
	float: left;
}
.gt_title{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
    margin-top: 25px;
    text-align: center;
}
.gt_detail{
	font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}


.dichvu{
	margin-left: 5px;
}

.dv_title{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
}

.dv_content{
	font-size: 16px;
    text-align: center;
}

.dv_content_detail{
	width: 100%;
	margin-bottom: 230px;
}

.dv_linkChiTiet{
	margin: 10px 0 40px 0;
	font-size: 12px;
    text-align: center;
}

.dv_detail_left{
	float: left;
	margin-right: 50px;
}
.dv_detail_right{
	font-size: 14px;
}

.dv_detail{
	margin-bottom: 50px;	
}

.tt_content_right{
	float: left;
    margin-left: 5px;
    margin-right: 50px;
}

.tin_tuc{
}

.tt_block{
	width:100%;
    margin-left: 5px;
}

.tt_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tt_image{
	margin-bottom: 50px;
}

.tt_date{
	font-size: 13px;
	margin-bottom: 20px;
}

.tt_content{
	font-size: 16px;
	margin-bottom: 20px;
}

.tt_linkChiTiet{
	margin-bottom: 20px;
	text-align: right;
	font-size: 12px;
	margin-right: 25px;	
}


.divstore{
	background-color: #eeeeee;	
	border:1px solid #cccccc;
	
}

.divstore:hover {
	color: #B0006E;
}

.divstoreactive{
	color : #B0006E;
	font-weight: bold;
}



table {
	max-width: 100%;
	background-color: transparent
}

th {
	text-align: left
}

.table {
	width: 100%;
	margin-bottom: 20px
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding: 8px;
	vertical-align: top;
	border-top: 1px solid #ddd
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td
	{
	border-top: 0
}

.table>tbody+tbody {
	border-top: 2px solid #ddd
}

.table .table {
	background-color: #fff
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td
	{
	padding: 5px
}

.table-bordered {
	border: 1px solid #ddd
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td
	{
	border: 1px solid #ddd
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
	border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th
	{
	background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: #f5f5f5
}

table col[class*=col-] {
	position: static;
	float: none;
	display: table-column
}

table td[class*=col-],table th[class*=col-] {
	position: static;
	float: none;
	display: table-cell
}

.table>thead>tr>td.active,.table>tbody>tr>td.active,.table>tfoot>tr>td.active,.table>thead>tr>th.active,.table>tbody>tr>th.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>tbody>tr.active>td,.table>tfoot>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr.active>th,.table>tfoot>tr.active>th
	{
	background-color: #f5f5f5
}

.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover,.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th
	{
	background-color: #e8e8e8
}

.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th
	{
	background-color: #dff0d8
}

.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th
	{
	background-color: #d0e9c6
}

.table>thead>tr>td.info,.table>tbody>tr>td.info,.table>tfoot>tr>td.info,.table>thead>tr>th.info,.table>tbody>tr>th.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>tbody>tr.info>td,.table>tfoot>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr.info>th,.table>tfoot>tr.info>th
	{
	background-color: #d9edf7
}

.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th
	{
	background-color: #c4e3f3
}

.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th
	{
	background-color: #fcf8e3
}

.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th
	{
	background-color: #faf2cc
}

.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th
	{
	background-color: #f2dede
}

.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th
	{
	background-color: #ebcccc
}

.tinhnang{
	margin-left: 40px;
	margin-right : 0px;
	overflow: hidden;
}

.tinhnang_content{
	padding-top: 5px;
	width: 535px;
	float: left
}

.tinhnang_content_check{
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

.tinhnang_icon{
	float: left;
	width: 70px;
}

.tinhnang_content_title{
	margin-top:5px;
	margin-bottom:30px;
	font-size: 30px;
	color : #B0006E;
	font-weight: bold;	
}

.tinhnang_content_text{
	margin-bottom: 20px;
}

.tinhnang_image{
	float: right;
	width: 250px;
}

.tinhnang_text_xem_chi_tiet{
	text-align: right;
	font-size: 14px;
	margin-bottom: 20px;
}
#text_meunu_ud{
	color: #373737;	
}
#text_meunu_bm{
	color: #373737;	
}
#text_meunu_dv{
	color: #373737;	
}
#text_meunu_phi{
	color: #373737;	
}
#text_meunu_ph{
	color: #373737;	
}
.textActive{
	color: white;
}

.contenActive{
	color: #B0006E;
}

.hoidap_active_link{
	color: #B0006E;
	
}
.hoidap_title{
	margin-top: 30px;
	font-size: 30px;
	color: #B0006E;
	font-weight: bold;
}

.hoidap_menu{
	margin-top: 20px;
	list-style: none;
	padding-left: 30px;
}
#ud{
	height: 50px;
	margin-right: 5px;
	margin-left:-10px;
	float: left;
	border-radius:3px 3px
}

.hoidap_tab_active{
	background-color: #B0006E;
	height: 50px;
	margin-right: 5px;
	float: left;
	border-radius:3px 3px
}
#hoidap_text_active{
	color: white;
}

.hoidap_text_ungdung{
	width:100px;
	margin-top: 15px;
	text-align: center;
}

#bm{
	height: 50px;
	margin-right: 5px;
	float: left;
	border-radius:3px 3px
}
.hoidap_text_baomat{
	width:100px;
	margin-top: 15px;
	text-align: center;
}

#dv{
	height: 50px;
	margin-right: 5px;
	float: left;
	border-radius:3px 3px
}
.hoidap_text_dichvu{
	width:100px;
	margin-top: 15px;
	text-align: center;
}

#phi{
	height: 50px;
	margin-right: 5px;
	float: left;
	border-radius:3px 3px
}
.hoidap_text_phi{
	width:70px;
	margin-top: 15px;
	text-align: center;
}

#ph{
	height: 50px;
	margin-right: 5px;
	float: left;
	border-radius:3px 3px
}
.hoidap_text_phanhoi{
	width:150px;
	margin-top: 15px;
	text-align: center;
}

.hoidap_hr{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B0006E -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 2px 0 0;
    margin-bottom: 20px;
    margin-top: 0px;
}

.hoidap_content{
	padding-left: 5px;
}

.title{
	margin-bottom:20px;
	font-size: 20px;
	
	
}

.link_title{
	color: #373737;
    
    margin-bottom: 20px;
    
   
    margin-right: 60px; 
    font-size: 18px;
    font-style: Regular;
}

.link_title:hover{
	color: #b0006e;
}

.link_titletoDetail{
	color: #373737;
}

.link_titletoDetail:hover{
	color: #b0006e;
}

.link_toDetail{
	color: #575757;
}

.link_toDetail:hover{
	color: #b0006e;
}

.hdcontent{

    
}

.hdcontent1{
	background-color:#eeeeee;
	border-radius:15px;
   	width:760px;
    font-size: 16px;
   	margin-left:35px;
    padding: 15px 15px 15px 15px;
    font-style: regular;
    
}

.chiTietTinhNang{
	margin-left: 120px;
	margin-right: 120px
}

#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 5%;
    width: 830px;
    z-index: 2;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
	background: url("../images/lose.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 50px;
}
span.img_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 10px;
    height: 20px;
    opacity: 0.7;
    padding: 4px 0px 0px 0px;
    text-align: center;
    min-width: 105px;
    width:105px;
    position: absolute !important;
	margin-top: 45px;
	display:none;
}


span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
    overflow-y:scroll; 
    height:500px;
}
.close_popup{
	height:45px;
	width:45px;
	position:absolute;
	z-index:9999;
	background: url("../images/close.png") no-repeat scroll 0 0 transparent;
	background-size: 25px 25px;
	right:0px;
	margin-right:-40px;
	margin-top:-23px;
	cursor:pointer;
}